.fair_company
  h2 Mit Deinem Einkauf<br>auf Bobooki<br>unterstützt Du den Erhalt deines lokalen<br>Einzelhandels.
  = link_to 'Mehr erfahren', 'https://www.nachbarschaftsmarktplatz.de', class: 'Button', target: '_self'
  = image_tag 'infobox-artikel-bottom.png', alt: 'Dein Bobooki. Solidarität in der Krise.'
