/**
 * Bobooki billboards
 */

.billboard > article {
  text-indent: -9999px; /* hide text */
  display: block;
  height: 100%;
  width: 100%;

  /* make the entire billboard clickable */
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-1st {   background-image: image-url('welcome/BB-Billboard1-625x410.jpg');  }
  #billboard-2nd {   background-image: image-url('welcome/BB-Billboard2-625x410.jpg');  }
  #billboard-3rd {   background-image: image-url('welcome/BB-Billboard3-625x410.jpg');  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-1st {   background-image: image-url('welcome/BB-Billboard1-440x410.jpg');  }
  #billboard-2nd {   background-image: image-url('welcome/BB-Billboard2-440x410.jpg');  }
  #billboard-3rd {   background-image: image-url('welcome/BB-Billboard3-440x410.jpg');  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-1st {   background-image: image-url('welcome/BB-Billboard1-900x410.jpg');  }
  #billboard-2nd {   background-image: image-url('welcome/BB-Billboard2-900x410.jpg');  }
  #billboard-3rd {   background-image: image-url('welcome/BB-Billboard3-900x410.jpg');  }
}
